{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
    Admin Login
{% endblock %}
{% block background %}background="{% static './myapp/images/unsplash.jpg' %}"{% endblock %}
{% block body %}
<section class="ftco-section">
<body>
    <center>
    <h1>Admin Login</h1>
    <div class="container">
    <form role="form" name="frm" method="post" action="{% url 'admin_login' %}" >
        {% csrf_token %}
        <div class="form-group">
            <label for="un">User Name :</label>
            <input class="form-control" type="text" name="un" id="un">
        </div>
        <div class="form-group">
            <label for="pwd">Password :</label>
            <input class="form-control" type="password" name="pwd" id="pwd">
        </div>
        <button type="submit"
        class="btn btn-primary" id="bt" name="bt">Login</button>
        <button type="reset"
        class="btn btn-info" id="rt" name="rt">Reset</button>

    </form>
    </div>
        {% autoescape off %}{{ msg1 }}{% endautoescape %}
    </center>

    <script src="{% static './myapp/scripts/loginscript.js' %}"></script>
</body>
</section>
{% endblock %}