{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
Book
{% endblock %}
{% block background %}background="{% static './myapp/images/unsplash.jpg' %}"{% endblock %}
{% block body %}


    
<section class="hero-wrap hero-wrap-2" style="background-image: url('{%static 'myapp/images/bg_5.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate mb-0 text-center">
            <p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>Book Store <i class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">Book Store</h1>
        </div>
      </div>
    </div>
  </section>
      
  <section class="ftco-section ftco-no-pt">
    <div class="container-fluid px-md-4">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Books</span>
                <h2>New Release</h2>
            </div>
        </div>
        <div class="row">
            {% for bk in book_list %}
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="book-wrap d-lg-flex">
                        <div class="img d-flex justify-content-end" style="background-image: url('{% static 'myapp/media/' %}{{ bk.pic }}');">
                        </div>
                        <div class="text p-4">
                            <p class="mb-2"><span class="price">${{ bk.price }}</span></p>
                            <h2><a href="#">{{ bk.book_name }}</a></h2>
                            <span class="position">By {{ bk.author }}</span>
                            <span class="position">Available Stock {{ bk.stock }}</span>
                            <span class="position">Description: {{ bk.description }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

  

{% endblock %}