{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Customer Login{% endblock %}
{% block background %}background="{% static './myapp/images/unsplash.jpg' %}"{% endblock %}
{% block body %}
<section class="ftco-section">
<center>
     <h2><font color="#366092">Customer Login</font></h2>
        <img src="{% static 'myapp/images/person.png'%}" width="150" height="150">
    <div class="container">
        <form role="form" name="frm" action="{% url 'customer_login' %}"  method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="uname">User Name</label>
                <input class="form-control" type="text" id="uname" name="uname">
            </div>
             <div class="form-group">
                 <label for="uname">Password</label>
                 <input class="form-control" type="password" id="passwd" name="passwd">
             </div>
            <button type="submit" class="btn btn-primary" id="bt" name="bt">Login</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>

            <br/>
        <a href="{%url 'customer_details_add'%}">New Customer</a></h1>
        </form>
    {{msg}}
    </div>
</center>
</section>
{% endblock %}