{% extends 'myapp/customer_base.html' %}
{% load static %}
{% block title %}Hello Customer{% endblock %}
{% block background %}background="{% static './myapp/images/unsplash.jpg' %}"{% endblock %}
{% block body %}

<section class="hero-wrap" style="background-image: url({% static 'myapp/images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100">
                  <h1 class="mb-4">Good books don't give up all their secrets at once</h1>
                  
                  <p><a href="#" class="btn btn-primary py-3 px-4">View All Books</a> <a href="#" class="btn btn-white py-3 px-4">Explore Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="ftco-section ftco-no-pt mt-5 mt-md-0">
        <div class="container">
            <div class="row">
                {% for ck in category_list %}
                    <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                        <div class="services-2 text-center">
                            <div class="icon-wrap">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-fantasy"></span>
                                </div>
                            </div>
                            <h2><a href="#">{{ ck.category_name }}</a></h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <!-- ... your existing code ... -->
    
      <section class="ftco-section ftco-no-pt">
        <div class="container-fluid px-md-4">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Books</span>
                    <h2>New Release</h2>
                </div>
            </div>
            <div class="row">
                {% for bk in book_list %}
                    <div class="col-md-6 col-lg-4 d-flex">
                        <div class="book-wrap d-lg-flex">
                            <div class="img d-flex justify-content-end" style="background-image: url('{% static 'myapp/media/' %}{{ bk.pic }}');">
                            </div>
                            <div class="text p-4">
                                <p class="mb-2"><span class="price">${{ bk.price }}</span></p>
                                <h2><a href="#">{{ bk.book_name }}</a></h2>
                                <span class="position">By {{ bk.author }}</span>
                                <span class="position">Available Stock {{ bk.stock }}</span>
                                <span class="position">Description: {{ bk.description }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
      <section class="ftco-section testimony-section ftco-no-pb">
          <div class="img img-bg border" style="background-image: url({% static 'myapp/images/bg_4.jpg' %});"></div>
          <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Testimonial</span>
              <h2 class="mb-3">Kinds Words From Clients</h2>
            </div>
          </div>
          <div class="row ftco-animate">
            <div class="col-md-12">
              <div class="carousel-testimony owl-carousel ftco-owl">
                <div class="item">
                  <div class="testimony-wrap py-4">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                    <div class="text">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <div class="d-flex align-items-center">
                          <div class="user-img" style="background-image: url({% static 'myapp/images/person_1.jpg' %})"></div>
                          <div class="pl-3">
                              <p class="name">Roger Scott</p>
                              <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap py-4">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                    <div class="text">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <div class="d-flex align-items-center">
                          <div class="user-img" style="background-image: url({% static 'myapp/images/person_2.jpg' %})"></div>
                          <div class="pl-3">
                              <p class="name">Roger Scott</p>
                              <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap py-4">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                    <div class="text">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <div class="d-flex align-items-center">
                          <div class="user-img" style="background-image: url({% static 'myapp/images/person_3.jpg' %})"></div>
                          <div class="pl-3">
                              <p class="name">Roger Scott</p>
                              <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap py-4">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                    <div class="text">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <div class="d-flex align-items-center">
                          <div class="user-img" style="background-image: url({% static 'myapp/images/person_1.jpg' %})"></div>
                          <div class="pl-3">
                              <p class="name">Roger Scott</p>
                              <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap py-4">
                      <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                    <div class="text">
                      <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <div class="d-flex align-items-center">
                          <div class="user-img" style="background-image: url({% static 'myapp/images/person_2.jpg' %})"></div>
                          <div class="pl-3">
                              <p class="name">Roger Scott</p>
                              <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}